.navbar {
	background-color: black;
	color: white;
	font-size: 50px;
}


.navbar > .logo {
	margin-right: auto;
	margin-left: auto;
	text-decoration-line: none;
	color: white;
}

.home{
	height: 100%;
}

.main-container {
	background-image: url(images/powerpose.jpeg);
	background-position: center;
	background-color: black;	
	height: 1000px;
/*	opacity: .25;
*/
}

.initphrasetext {
	font-size: 80px;
	color: white;
	text-align: center;
	margin-top: 12.5%;
}

.enterbtncont {
	position: relative;
	top: 1%;
	height: 10%;

}


.enter {
	background: black;
	color: white;
	border-radius: 10px;
	font-size: 30px;
	/*font: bold;*/
	text-decoration-line: none;
	align-self: center;
	/*height: 100px;*/
	text-align: center;
	padding: 35px 0;
}

.enter:hover {
	background-color: white;
	color: black;
	text-decoration-line: none;
}




/*RESPONSIVE CSS*/
@media (max-width: 600px) {
	.enterbtncont {
		top: 2%;
	}
}

/*LIFE GOALS / Part 1*/


.goals {
	margin-top: 8%;
	margin-bottom: 50px;
}

.goalheader {
	text-align: center;
}

.headerquote {
	margin-top: 50px;
	font-size: 50px;
	text-align: center;

}

.discription {
	text-align: center;
	margin-top: 50px;
	font-size: 25px;
}

input {
	border-radius: 5px;
	border: solid black 2px;
	margin-bottom: 20px;
	font-size: 20px;
}

.nextbtn {
	background: black;
	color: white;
	border-radius: 10px;
	font-size: 30px;
	/*font: bold;*/
	text-decoration-line: none;
	align-self: center;
	/*height: 100px;*/
	text-align: center;
	padding: 35px 0;
	margin: 50px;
}

.nextbtn:hover {
	background-color: white;
	color: black;
	border: black solid 3px;
	text-decoration-line: none;
}

/*LIFE GOALS PART 2*/

/*#humorlogo {
	width: 300px
	height:300px;
}*/

.logo-title {
	text-align: center;
}

.pagelogos {
	font-size: 50px;
}

.humorlogo {
	margin-bottom: 100px;
}

.logopic {
	width: 300px;
	height: 300px;
}


.logopic:hover	{
	width: 350px;
	height: 350px;
}

/*GRATITUDE PAGE*/

.gratcont {
	margin-top: 25px;
	margin-bottom: 50px;
}

























